.main {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.title {
  color: #D39245;
  display: flex;
  justify-content: center;
  font-size: xx-large;
  margin: 20px;
}

.section {
  display: block;
  align-items: center;
  flex-direction: column;
  background-color: #343434;
  min-width: 350px;
  border-radius: 8px;
}

.p {
  margin-block: 5px;
  display: flex;
  justify-content: center;
}

.input {
  color: black;
  background-color: white;
  border-radius: 8px;
  min-height: 37px;
  padding-left: 10px;
  border: 0px;
  margin-inline: 20px;
  margin-block: 5px;
}

.form {
  display: flex;
  flex-direction: column;
}

.link {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  margin-block: 10px;
  margin-inline: 5px;
}

.button {
  background-color: #D39245;
  border-radius: 8px;
  min-height: 37px;
  padding-left: 10px;
  border: 0px;
  margin-block: 10px;
  margin-inline: 20px;
}

.button2 {
  color: grey;
  background-color: white;
  border-radius: 8px;
  min-height: 37px;
  padding-left: 10px;
  border: 0px;
  margin-block: 10px;
  margin-inline: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-inline: 20px;
}

.line2 {
  flex: 1;
  height: 1px;
  background-color: white;
}

.or {
  width: 22px;
  text-align: center
}

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.h1 {
  display: flex;
  justify-content: center;
  margin-block: 15px;
}

.link2 {
  margin-block: 10px;
}

.p1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p2 {
  margin-inline: 8px;
}

.buttondiv {
  position: relative;
}

.button3 {
  position: absolute;
  bottom: 6px;
  right: 30px;
  background-color: transparent;
  border: 0px;
  color: grey;
}
